# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# Build
dist/
build/
out/
.cache/
.next/

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Misc
coverage/
